#page-wrapper {
  position: relative;

}
body{
  font-family: Arial;
}

#nav-bar{

  font-family: "Caviar Dreams";
  font-weight: 600;
  font-size: 20px;

}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}
nav {

  font-weight: 600;}

h1{
  font-size: 50px;
}







